﻿/* $Id$ */

#live-search-results {
  line-height: 100% !important;
}

#live-search-results dt {
  margin-top: 1em;
}

form.compact input.form-text {width: 90%;}
form.compact input.form-submit {display: none;}

.hide-snippet dl.search-results dd p {display: none;}
.show-item-info dl.search-results dd p.search-info {display: block;}
.hide-item-info dl.search-results dd p.search-info {display: none;}